USE [master]
GO
/****** Object:  Database [Practice_KhranitelPRO]    Script Date: 15.04.2026 13:54:17 ******/
CREATE DATABASE [Practice_KhranitelPRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practice_KhranitelPRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Practice_KhranitelPRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practice_KhranitelPRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Practice_KhranitelPRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practice_KhranitelPRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practice_KhranitelPRO]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] NOT NULL,
	[full_name] [varchar](150) NOT NULL,
	[department_id] [int] NULL,
	[section] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_members]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
	[row_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_requests]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_requests](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[template_file_path] [varchar](500) NULL,
	[photos_archive_path] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[individual_requests]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[individual_requests](
	[individual_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[individual_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passes]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passes](
	[pass_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[issued_at] [datetime] NULL,
	[issued_by] [int] NOT NULL,
	[entry_time] [datetime] NULL,
	[exit_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[pass_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[purpose_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[rejection_reason] [text] NULL,
	[comment] [text] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](32) NOT NULL,
	[registered_at] [datetime] NULL,
	[role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visit_logs]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visit_logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[pass_id] [int] NOT NULL,
	[recorded_by] [int] NOT NULL,
	[recorded_at] [datetime] NULL,
	[comment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visit_purposes]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visit_purposes](
	[purpose_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[purpose_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitors]    Script Date: 15.04.2026 13:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitors](
	[visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[middle_name] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NOT NULL,
	[organization] [varchar](200) NULL,
	[birth_date] [date] NOT NULL,
	[passport_series] [varchar](4) NOT NULL,
	[passport_number] [varchar](6) NOT NULL,
	[photo_path] [varchar](500) NULL,
	[passport_scan_path] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [name]) VALUES (1, N'Производство')
INSERT [dbo].[departments] ([department_id], [name]) VALUES (2, N'Сбыт')
INSERT [dbo].[departments] ([department_id], [name]) VALUES (3, N'Администрация')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
INSERT [dbo].[employees] ([employee_id], [full_name], [department_id], [section]) VALUES (9362832, N'Архипов Тимофей Васильевич', 4, NULL)
INSERT [dbo].[employees] ([employee_id], [full_name], [department_id], [section]) VALUES (9367788, N'Фомичева Авдотья Трофимовна', 1, NULL)
INSERT [dbo].[employees] ([employee_id], [full_name], [department_id], [section]) VALUES (9404040, N'Чернов Всеволод Наумович', NULL, N'Охрана')
GO
SET IDENTITY_INSERT [dbo].[group_members] ON 

INSERT [dbo].[group_members] ([member_id], [group_id], [visitor_id], [row_number]) VALUES (1, 1, 1, 1)
INSERT [dbo].[group_members] ([member_id], [group_id], [visitor_id], [row_number]) VALUES (2, 1, 2, 2)
INSERT [dbo].[group_members] ([member_id], [group_id], [visitor_id], [row_number]) VALUES (3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[group_members] OFF
GO
SET IDENTITY_INSERT [dbo].[group_requests] ON 

INSERT [dbo].[group_requests] ([group_id], [request_id], [template_file_path], [photos_archive_path]) VALUES (1, 3, N'/templates/group_3.xlsx', N'/photos/group_3/')
INSERT [dbo].[group_requests] ([group_id], [request_id], [template_file_path], [photos_archive_path]) VALUES (2, 5, N'/templates/group_5.xlsx', N'/photos/group_5/')
SET IDENTITY_INSERT [dbo].[group_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[individual_requests] ON 

INSERT [dbo].[individual_requests] ([individual_id], [request_id], [visitor_id]) VALUES (1, 1, 4)
INSERT [dbo].[individual_requests] ([individual_id], [request_id], [visitor_id]) VALUES (2, 2, 5)
INSERT [dbo].[individual_requests] ([individual_id], [request_id], [visitor_id]) VALUES (3, 4, 6)
SET IDENTITY_INSERT [dbo].[individual_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[passes] ON 

INSERT [dbo].[passes] ([pass_id], [request_id], [issued_at], [issued_by], [entry_time], [exit_time]) VALUES (1, 1, CAST(N'2026-04-15T13:49:41.247' AS DateTime), 9404040, CAST(N'2026-04-16T22:49:41.247' AS DateTime), CAST(N'2026-04-17T07:49:41.247' AS DateTime))
INSERT [dbo].[passes] ([pass_id], [request_id], [issued_at], [issued_by], [entry_time], [exit_time]) VALUES (2, 3, CAST(N'2026-04-15T13:49:41.247' AS DateTime), 9404040, CAST(N'2026-04-16T23:49:41.247' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[passes] OFF
GO
SET IDENTITY_INSERT [dbo].[requests] ON 

INSERT [dbo].[requests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose_id], [department_id], [employee_id], [status], [rejection_reason], [comment], [created_at]) VALUES (1, 1, N'individual', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-18' AS Date), 1, 1, 9367788, N'approved', NULL, N'Рабочая встреча по проекту', CAST(N'2026-04-15T13:49:41.243' AS DateTime))
INSERT [dbo].[requests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose_id], [department_id], [employee_id], [status], [rejection_reason], [comment], [created_at]) VALUES (2, 2, N'individual', CAST(N'2026-04-17' AS Date), CAST(N'2026-04-20' AS Date), 2, 2, 9788737, N'pending', NULL, N'Экскурсия по производству', CAST(N'2026-04-15T13:49:41.243' AS DateTime))
INSERT [dbo].[requests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose_id], [department_id], [employee_id], [status], [rejection_reason], [comment], [created_at]) VALUES (3, 3, N'group', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), 3, 1, 9367788, N'approved', NULL, N'Техническое обслуживание оборудования', CAST(N'2026-04-15T13:49:41.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[requests] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [password_hash], [registered_at], [role]) VALUES (1, N'user1@example.com', N'6d5876c0d5c3b8c3b4d5c6e7f8a9b0c1', CAST(N'2026-04-15T13:49:41.240' AS DateTime), N'user')
INSERT [dbo].[users] ([user_id], [email], [password_hash], [registered_at], [role]) VALUES (2, N'user2@example.com', N'6d5876c0d5c3b8c3b4d5c6e7f8a9b0c1', CAST(N'2026-04-15T13:49:41.240' AS DateTime), N'user')
INSERT [dbo].[users] ([user_id], [email], [password_hash], [registered_at], [role]) VALUES (3, N'user3@example.com', N'6d5876c0d5c3b8c3b4d5c6e7f8a9b0c1', CAST(N'2026-04-15T13:49:41.240' AS DateTime), N'user')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[visit_logs] ON 

INSERT [dbo].[visit_logs] ([log_id], [pass_id], [recorded_by], [recorded_at], [comment]) VALUES (1, 1, 9367788, CAST(N'2026-04-15T13:49:41.250' AS DateTime), N'Посетитель прибыл вовремя')
INSERT [dbo].[visit_logs] ([log_id], [pass_id], [recorded_by], [recorded_at], [comment]) VALUES (2, 2, 9367788, CAST(N'2026-04-15T13:49:41.250' AS DateTime), N'Группа на экскурсии')
SET IDENTITY_INSERT [dbo].[visit_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[visit_purposes] ON 

INSERT [dbo].[visit_purposes] ([purpose_id], [name]) VALUES (1, N'Рабочая встреча')
INSERT [dbo].[visit_purposes] ([purpose_id], [name]) VALUES (2, N'Экскурсия')
INSERT [dbo].[visit_purposes] ([purpose_id], [name]) VALUES (3, N'Техническое обслуживание')
SET IDENTITY_INSERT [dbo].[visit_purposes] OFF
GO
SET IDENTITY_INSERT [dbo].[visitors] ON 

INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path], [passport_scan_path]) VALUES (1, N'Степанова', N'Радинка', N'Власовна', N'+7 (613) 272-60-62', N'Radinka100@yandex.ru', N'ООО Ромашка', CAST(N'1986-10-18' AS Date), N'0208', N'530509', NULL, N'/scans/stepanova.pdf')
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path], [passport_scan_path]) VALUES (2, N'Шилов', N'Прохор', N'Герасимович', N'+7 (615) 594-77-66', N'Prohor156@list.ru', N'ЗАО Берёзка', CAST(N'1977-10-09' AS Date), N'3036', N'796488', NULL, N'/scans/shilov.pdf')
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path], [passport_scan_path]) VALUES (3, N'Кононов', N'Юрин', N'Романович', N'+7 (784) 673-51-91', N'YUrin155@gmail.com', N'ИП Кононов', CAST(N'1971-10-08' AS Date), N'2747', N'790512', NULL, N'/scans/kononov.pdf')
SET IDENTITY_INSERT [dbo].[visitors] OFF
GO
/****** Object:  Index [UQ__group_re__18D3B90EC1D6CDD5]    Script Date: 15.04.2026 13:54:18 ******/
ALTER TABLE [dbo].[group_requests] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__individu__18D3B90EC914541D]    Script Date: 15.04.2026 13:54:18 ******/
ALTER TABLE [dbo].[individual_requests] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__passes__18D3B90E9668269C]    Script Date: 15.04.2026 13:54:18 ******/
ALTER TABLE [dbo].[passes] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_requests_status]    Script Date: 15.04.2026 13:54:18 ******/
CREATE NONCLUSTERED INDEX [idx_requests_status] ON [dbo].[requests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_requests_user_id]    Script Date: 15.04.2026 13:54:18 ******/
CREATE NONCLUSTERED INDEX [idx_requests_user_id] ON [dbo].[requests]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164A0A7241D]    Script Date: 15.04.2026 13:54:18 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_visitors_passport]    Script Date: 15.04.2026 13:54:18 ******/
CREATE NONCLUSTERED INDEX [idx_visitors_passport] ON [dbo].[visitors]
(
	[passport_series] ASC,
	[passport_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[passes] ADD  DEFAULT (getdate()) FOR [issued_at]
GO
ALTER TABLE [dbo].[requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[visit_logs] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_requests] ([group_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[group_requests]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[requests] ([request_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[individual_requests]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[requests] ([request_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[individual_requests]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[passes]  WITH CHECK ADD FOREIGN KEY([issued_by])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[passes]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[requests] ([request_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([purpose_id])
REFERENCES [dbo].[visit_purposes] ([purpose_id])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD FOREIGN KEY([pass_id])
REFERENCES [dbo].[passes] ([pass_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[visit_logs]  WITH CHECK ADD FOREIGN KEY([recorded_by])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD CHECK  (([type]='group' OR [type]='individual'))
GO
USE [master]
GO
